/* 
Custom CSS for Pluxml
*/
/* Global Styles */
html, body{ height:100%}

body{ padding-top:0px; /* body padding for fixed top nav */
font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: 'Source Sans Pro', sans-serif;}

h1, .h1 {
    color: #463265;color:#8D828C;
    font-size:42px;font-weight:300;
}

.content .row h2 {margin-top:10px;}

#home h3 {color:#00A7E9;font-size:32px;}
#home p {color:#111;font-weight:300;}

.trois h3 {color:#8D828C;}

.content {font-weight:300;color:#111;}

a {
    color: #463265;
    text-decoration: none;
}

.img-home-portfolio, 
.img-customer, 
.portfolio-item{ margin-bottom:30px}

.tab-pane{ margin-top:15px}
/*
 * Main navigation
 *
 */
.purple{ text-shadow:none;  background-color:#C4B9C3;  border:none;  box-shadow:none;background:rgba(196,185,195,0.99);}
.purple .navbar-collapse{ border-color:#463265}
.purple .navbar-brand{ color:#fff;font-weight:300;font-size:2em;}
.purple .navbar-nav >li >a {color:#463265;text-transform:uppercase;font-weight:300;}
.purple .navbar-nav >li >a:hover{ color:#fff;}
.purple .navbar-nav >.active >a, 
.purple .navbar-nav >.active >a:hover{ color:#fff;  background-color:#463265}
.purple .navbar-toggle{ border-color:#563d7c}
.purple .navbar-toggle:hover{ background-color:#463265;  border-color:#463265}

/* Page Sections */
.section, 
.section-colored{ padding:50px 0}
.section-colored{ background-color:#e1e1e1; /* change this to change the background color of a colored section */}

.sidebar{ margin-top:40px}
.sidebar ul{ border-radius:5px;  padding:5px;  border:1px solid #ccc}

/* Carousel Customization */
.carousel{ margin-top:0px; height:400px;position:relative;}

.item, 
.active, 
.carousel-inner{ height:100%}

.fill{ width:100%;  height:100%;  background-position:center;  background-size:cover}

/* Social Icons Styles */
.list-social-icons{ margin-bottomo:45px}
.tooltip-social a{ text-decoration:none;  color:#C4B9C3;}
.facebook-link a:hover{ color:#3b5998}
.linkedin-link a:hover{ color:#007fb1}
.twitter-link a:hover{ color:#39a9e0}
.google-plus-link a:hover{ color:#d14836}

/* Service Page Styles */
.service-icon{ font-size:50px}

/* 404 Page Styles */
.error-404{ font-size:8em}

/* Pricing Page Styles */
.price{ font-size:4em}
.price-cents{ vertical-align:super;  font-size:50%}
.price-month{ font-size:35%;  font-style:italic}

/* Footer Styles */
footer{ margin:50px 0 10px 0;}
body.mappa footer {display:none;}
body.mappa {padding-top:50px;}

/* PLUXML */
.more a{display:inline-block;  padding:6px 12px;  margin:20px 0 0 0;  font-size:14px;  font-weight:normal;  line-height:1.428571429;  text-align:center;  white-space:nowrap;  vertical-align:middle;  cursor:pointer;  border:1px solid transparent;  border-radius:4px;  -webkit-user-select:none;  -moz-user-select:none;  -ms-user-select:none;  -o-user-select:none;  user-select:none}

.more a:focus{outline:thin dotted #333;  outline:5px auto -webkit-focus-ring-color;  outline-offset:-2px}
.more a:after{padding-left:10px;  content:'  ►'}
.more a:hover, 
.more a:focus{color:#333;  text-decoration:none}

.more a:active, 
.more a .active{background-image:none;  outline:0;  -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);  box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)}
.more a{color:#fff;  background-color:#428bca;  border-color:#357ebd}

.more a:hover, 
.more a:focus, 
.more a:active, 
.more a.active{color:#fff;  background-color:#3276b1;  border-color:#285e8e}

.more a:active, 
.more a .active{background-image:none}

.tag{font-style: inherit}
.tag-size-1{font-size:1em}
.tag-size-2{font-size:1.1em}
.tag-size-3{font-size:1.2em}
.tag-size-4{font-size:1.3em}
.tag-size-5{font-size:1.4em}
.tag-size-6{font-size:1.5em}
.tag-size-7{font-size:1.6em}
.tag-size-8{font-size:1.7em}
.tag-size-9{font-size:1.8em}
.tag-size-10{font-size:1.9em}
.tag-size-max{font-size:2em}

/* Responsive Styles */
@media (max-width:767px){.carousel{ height:70%; /* increases the carousel height so it looks good on phones */}

}

section.history {background:#f7f7f7;padding:10px 0;}
section.historyref {background:#C4B9C3;padding:10px 0;}
section.history h2, section.historyref h2 {margin-top:10px;}
section.historyref h2 {color:#fff;}

.conception {color:#888;}

#map {height:400px; width:100%;}

#map.mapfull {height:99%;}

.main {margin-bottom:10px;}

nav a.flag {opacity:0.5;padding:14px 15px;}
nav a.flag:hover {opacity:1;}

.carousel-fade .carousel-inner .item {opacity:0;-webkit-transition-property: opacity;-moz-transition-property: opacity;-o-transition-property: opacity;transition-property: opacity;}
.carousel-fade .carousel-inner .item.active {opacity:1;}
.carousel-fade .carousel-inner .item.active.left, .carousel-fade .carousel-inner .item.active.right {left:0;opacity:0;z-index:1;}
.carousel-fade .carousel-inner .item.next.left, .carousel-fade .carousel-inner .item.prev.right {opacity:1;}

.ttt {background:rgba(255,255,255,0.8);font-size:28px;text-shadow:none;padding:10px;line-height:1em;display:inline-block;color:#000;font-size:32px;text-transform:uppercase;}
.ttt em {color:#463265;display:block;font-style:normal;text-transform:none;}

.carousel-caption {text-align:left;}

.carousel-caption {left:auto;right: auto;}

#bottommap {height:100px;background:rgba(255,255,255,0.6);position:absolute;bottom:0;z-index:1000;width:100%;}
#bottommap h3 {color:#8D828C;color:#463265;font-weight:300;}

/* WHITE */

.purple{ text-shadow:none;  background-color:#C4B9C3;  border:none;  box-shadow:none;background:rgba(196,185,195,0.99);background-color:#fff;}
.purple .navbar-collapse{ border-color:#463265}
.purple .navbar-brand {color:#fff;font-weight:300;font-size:2em;color:#8D828C;}
.purple .navbar-brand:hover {color:#463265;}
.purple .navbar-nav >li >a {color:#463265;text-transform:uppercase;font-weight:300;-webkit-transition-property:background-color;-moz-transition:all 0.4s ease-in-out 0s;-o-transition-property:background-color;transition-property:background-color;}
.purple .navbar-nav >li >a:hover{ color:#fff;coloro:#463265;background:#C4B9C3;}
.purple .navbar-nav >.active >a, 
.purple .navbar-nav >.active >a:hover{ color:#fff;  background-color:#463265}
.purple .navbar-toggle{ border-color:#563d7c}
.purple .navbar-toggle:hover{ background-color:#463265;  border-color:#463265}

.land {color:#008477;fill:#cb8200;fill:#fff;}
#worldmap {/* position:absolute;top:60px;z-index:2000; */}

#turnglobe {position:relative;}
#turnglobe:before {
background-color: #da2e75;
content: "";
height: 100%;
position: absolute;
top: 0;
bottom: 0;
z-index: 0;
width: 50%;
right: 0;
left: 0;
}
