<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
 <META NAME="robots" CONTENT="noindex,nofollow">
    <title>Globe Lights project - {{ page.title }}</title>
                <link rel="icon" href="http://dev.gartempe.com/demo/globe/themes/inmemoriam/favicon.png" />
 <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,700,700italic,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>   
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css" media="screen"/>
  </head>

  <body class="carou">

    <nav class="navbar navbar-inverse navbar-fixed-top purple" role="navigation">
      <div class="container">
      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
           <!-- <span class="icon-bar"></span>
            <span class="icon-bar"></span>-->
          </button>
          <a class="navbar-brand" href="http://gartempe.github.io/globe-lights/"><i class="fa fa-globe"></i> Globe Lights</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">       
          <ul class="nav navbar-nav navbar-right">
			
<li class="{% if page.active == "home" %}active{% else %}noactive{% endif %}"><a href="http://gartempe.github.io/globe-lights/" title="Accueil">Accueil</a></li>
<li class="{% if page.active == "test" %}active{% else %}noactive{% endif %}"><a href="#" title="Test">Test</a></li>
<li class="{% if page.active == "aaa" %}active{% else %}noactive{% endif %}"><a href="#" title="Lieux1">Lieux1</a></li>
<li class="{% if page.active == "bbb" %}active{% else %}noactive{% endif %}"><a href="#" title="Lieux2">Lieux2</a></li>
<li class="{% if page.active == "ccc" %}active{% else %}noactive{% endif %}"><a href="#" title="A propos">A propos</a></li>
<li class="{% if page.active == "ddd" %}active{% else %}noactive{% endif %}"><a href="#" title="Carte">Carte</a></li>

			

          </ul>
        </div><!-- /.navbar-collapse -->
        
      </div><!-- /.container -->
    </nav>


    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide carousel-fade">
      <!-- Indicators -->
     <!--   <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">          
            <div class="fill" style="background-image:url('https://farm8.staticflickr.com/7161/6551221173_059608efe6_b.jpg');background-position:bottom center;"></div>
            <div class="container"><div class="row"><div class="carousel-caption">
		<span class="ttt">Marzipan fruitcake pie <em>Pie biscuit lemon drops tootsie roll brownie</em></span></div></div>
            </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('http://farm9.staticflickr.com/8046/8115638610_0dfe741808_b.jpg');"></div>
            <div class="container"><div class="row"><div class="carousel-caption">
		<span class="ttt">Candy canes apple pie</span></div></div>
            </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('http://farm9.staticflickr.com/8088/8397198901_67255e1e08_b.jpg');"></div>
            <div class="container"><div class="row"><div class="carousel-caption">
		<span class="ttt">Powder fruitcake jujubes chupa chups</span></div></div>
            </div>
          </div>
        </div>

        <!-- Controls -->
      <!--  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
        </a> -->
    </div>
    <!-- /Carousel -->

    <section class="container">
    
      <div class="row">

        <div class="col-lg-12">
        
          {{ content }}
          
        </div><!-- /col-lg-12 -->

      </div><!-- /row -->
      
    </section><!-- /.container -->

    <div class="container">


      <footer>
        <div class="row">
          <div class="col-lg-12">
          
          <ul class="list-unstyled list-inline  pull-left">
              <li><a class="maintitle" href="http://dev.gartempe.com/demo/globe/" title="Globe Lights">Globe Lights</a> © 2014 - <a href="http://www.perdu.com">Bla bla</a></li>	                  
		       <li class="conception">Site réalisé par <a href="http://www.gartempe.com" target="_blank"> Gartempe</a></li>
		      <li class="tooltip-social"><a rel="nofollow" href="http://dev.gartempe.com/demo/globe/core/admin/" data-toggle="tooltip" data-placement="top" title="Administration"><i class="icon-lock"></i></a></li>
          </ul>
          <ul class="list-unstyled list-inline list-social-icons pull-right">
              <li class="tooltip-social facebook-link"><a href="#facebook-page" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
              <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              <li class="tooltip-social google-plus-link"><a href="#google-plus-page" data-toggle="tooltip" data-placement="top" title="Github+"><i class="fa fa-github-square fa-2x"></i></a></li>
              <li class="tooltip-social"><a data-toggle="tooltip" data-placement="top" href="#top" title="Remonter en haut de page"><i class="fa fa-chevron-circle-up fa-2x"></i></a></li>
          </ul> 
           
          </div>
        </div>
      </footer>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script>
    // Carousel
    $('.carousel').carousel({
       interval: 6000
    });      	     
    </script>  </body>
</html>
